<div class="modal fade" id="modalCartao" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">
                    Cartões
                </h5>

                <button
                    type="button"
                    class="btn btn-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#modalNovoCartao"
                    onclick="limparCartao()">

                    Novo

                </button>

            </div>

            
            <div class="modal-body">
                
                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Banco</th>
                            <th>Bandeira</th>
                            <th>Limite consumodo</th>
                            <th>limite mximo</th>
                            <th>Limite total</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <body>

                        {% for cartao in Cartao %}
                        
                        <tr>
                            <td>{{ cartao.id }}</td>
                            <td>{{ cartao.nome }}</td>
                            <td>{{ cartao.banco }}</td>
                            <td>{{ cartao.bandeira }}</td>
                            <td>{{ cartao.limite_consumo }}</td>
                            <td>{{ cartao.limite_maximo }}</td>
                            <td>{{ cartao.limite_total }}</td>
                            <td>
                                <button 
                                    type="button" 
                                    class="btn btn-sm btn-outline-dark btn-editar-cartao"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#modalNovoCartao"
                                    data-id="{{ cartao.id }}"
                                    data-nome="{{ cartao.nome }}"
                                    data-banco="{{ cartao.banco }}"
                                    data-bandeira="{{ cartao.bandeira }}"
                                    data-limite_consumo="{{ cartao.limite_consumo }}"
                                    data-limite_maximo="{{ cartao.limite_maximo }}"
                                    data-limite_total="{{ cartao.limite_total }}"
                                    title="Editar">

                                    <i class="bi bi-pencil"></i>

                                </button>

                                <form method="POST" action="{% url 'cartao' %}" style="display: inline;">

                                    {% csrf_token %}

                                    <input type="hidden" name="acao" value="deletar">
                                    <input type="hidden" name="deletar_id" value="{{ cartao.id }}">
                                    <button type="submit" class="btn btn-sm btn-outline-danger" title="Excluir"
                                    onclick="return confirm('Tem certeza que deseja excluir este cartão {{ cartao.nome }}?');">
                                    
                                        <i class="bi bi-trash"></i>
                                    
                                    </button>
                                </form>

                            </td>

                        </tr>
                        
                        {% empty %}
                        
                        <tr>
                            <td colspan="7" class="text-center">
                                Nenhuma conta cadastrada
                            </td>
                        </tr>
                        
                        {% endfor %}
                        
                    </tbody>
                    
                </table>
                
            </div>

        </div>
    </div>
</div>

{% include 'cadastro_form_cartao.html' %}