<div class="modal fade" id="modalCategoria" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">
                    Categoria
                </h5>

                <button
                    type="button"
                    class="btn btn-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#modalNovoCategoria"
                    onclick="limparCategoria()">

                    Novo

                </button>

            </div>

            
            <div class="modal-body">
                
                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Perfil Cadastrado</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for c in categorias %}
                        
                        <tr>
                            <td>{{ c.ID }}</td>
                            <td>{{ c.nome }}</td>
                            <td>{{ c.perfil }}</td>
                            <td>
                                <button 
                                    type="button" 
                                    class="btn btn-sm btn-outline-dark btn-editar-categoria"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#modalNovoCategoria"
                                    data-id="{{ c.ID }}"
                                    data-nome="{{ c.nome }}"
                                    data-perfil="{{ c.perfil }}"
                                    title="Editar">

                                    <i class="bi bi-pencil"></i>

                                </button>

                                  <form method="POST" action="{% url 'categoria' %}" style="display: inline;">

                                    {% csrf_token %}

                                    <input type="hidden" name="acao" value="excluir">
                                    <input type="hidden" name="delete_id" value="{{ c.ID }}">

                                    <button type="submit" class="btn btn-sm btn-outline-danger " title="Excluir"
                                    onclick="return confirm('Tem certeza que deseja excluir esta categoria {{c.ID}}-{{ c.nome }}?');">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        
                        {% empty %}
                        
                        <tr>
                            <td colspan="4" class="text-center">
                                Nenhuma categoria cadastrada
                            </td>
                        </tr>
                        
                        {% endfor %}
                        
                    </tbody>
                    
                </table>
                
            </div>

        </div>
    </div>
</div>

{% include 'cadastro_form_categoria.html' %}